@media screen and (min-width: 1140px) {
  main {
    max-width: 1200px;
  }
}

@media screen and (max-width: 840px) {
  header {
    padding: 15px 40px;
  }
  #menu-icon {
    display: initial;
    position: absolute;
    padding: 15px 40px;
    top: 0;
    right: 0;
    text-decoration: none;
    color: white;
  }
  header nav .list {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-color);
    transition: 0.3s;
  }
  header .list.active {
    top: 70px;
  }
  .list a {
    padding: 1rem;
    display: block;
  }
  .nav-item {
    display: list-item;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 650px) {
  .post-item__content {
    padding: 16px 32px 32px 32px;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }
}
